<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">home</a></li>
        <li class="breadcrumb-item"><a href="/login">login</a></li>
        <li class="breadcrumb-item"><a href="/register">register</a></li>
        <li class="breadcrumb-item"><a href="/profile">profile</a></li>
        <li class="breadcrumb-item"><a href="/collectible">collectible</a></li>
        <li class="breadcrumb-item"><a href="/rules">rules</a></li>
        <li class="breadcrumb-item"><a href="/quiz">quiz</a></li>
        <li class="breadcrumb-item"><a href="/addcollectible">add collectible</a></li>
    </ol>    
</div>