<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/login">Login</a></li>
        <li class="breadcrumb-item"><a href="/register">Register</a></li>
        <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
        <li class="breadcrumb-item"><a href="/collectible">Collectible</a></li>
        <li class="breadcrumb-item"><a href="/rules">Rules</a></li>
        <li class="breadcrumb-item"><a href="/quiz">Quiz</a></li>
        <li class="breadcrumb-item"><a href="/add-collectible">+ Collectible</a></li>
         <li class="breadcrumb-item"><a href="/editcollectiblename">edit collectible name</a></li>

        <!-- search bar for collectible -->
        <form action="/collectible/" method="get" class="searchbar">
            <input type="text" name="name" placeholder="Search for collectible">
        </form>

    </ol>
</div>