<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">home</a></li>
        <li class="breadcrumb-item"><a href="/collectible">collectible</a></li>
        <li class="breadcrumb-item"><a href="/rules">rules</a></li>
    </ol>    
</div>

