<div class="row justify-content-md-center mt-2">
    <div class="col col-md-4">
        <h2>Add a new collectible</h2>
        <p>All fields are required</p>
        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}

        <form id="add_collectible" action="/add-collectible" enctype="multipart/form-data" method="POST">
           <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name" pattern="([a-zA-Z0-9]+[a-zA-Z0-9 ]+)" placeholder="alphanumeric characters only and 2-40 characters long"  maxlength="40" required>
        </div>

            <div class="form-group">
                <label for="collectible_id">Type: </label>
                <select id='option_type' class="form-control" name="collectible_type" required>
                    <option value="lego">Lego</option>
                    <option value="funko">Funko</option>
                    <option value="pusheen">Pusheen</option>
                    <option value="pokemon">Pokemon</option>
                    <option value="hot_wheel">Hot Wheel</option>
                </select>
            </div>

            {{!-- Lego --}}
            <div class="form-group lego box" id='lego'>
                <label for="piece_count">Piece count</label>
                <input class="form-control" type="number" name="piece_count" id="piece_count">
                <label for="set_number">Set number</label>
                <input class="form-control" type="number" name="set_number" id="set_number">
                <label for="theme">Theme</label>
                <input class="form-control" type="text" name="theme" id="theme"/>
                <label for="designed_by">Designer</label>
                <input class="form-control" type="text" name="designed_by" id="designed_by"/>
            </div>

            {{!-- Funko --}}
            <div class="form-group funko box" id='funko'>
                <label for="Number">Number</label>
                <input class="form-control" type="number" name="number" id="number"/>
                <label for="Line">Line</label>
                <input class="form-control" type="text" name="line" id="line"/>
            </div>


             {{!-- Pusheen --}}
            <div class="form-group pusheen box" id='pusheen'>
                <label for="product_type">Product type</label>
                <input class="form-control" type="text" name="product_type1" id="product_type1"/>
                <label for="season">Season/holiday</label>
                <input class="form-control" type="text" name="season" id="season"/>
            </div>

            {{!-- Pokemon --}}
            <div class="form-group pokemon box" id='pokemon'>
                <label for="product_type">Product type</label>
                <input class="form-control" type="text" name="product_type" id="product_type"/>
                <label for="generation">Generation</label>
                <input class="form-control" type="text" name="generation" id="generation"/>
            </div>

            {{!-- Hot Wheels --}}
            <div class="form-group hot_wheel box" id="hot_wheel">
                <label for="number">Number</label>
                <input class="form-control" type="text" name="number1" id="number1"/>
                <label for="series">Series</label>
                <input class="form-control" type="text" name="series" id="series"/>
                <label for="year_released">Year released</label>
                <input class="form-control" type="text" name="year_released1" id="year_released1"/>
            </div>
            
            <div class="form-group">
                <p class="text-muted">Select a jpeg image of the collectible</p>
                <input class="form-control-file" type="file" name="pic" id="image" accept="image/jpeg" required/>
            </div>
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
</div>
<script src="/js/jquery-3.5.1.js"></script>
<script src="/js/formtypecollectible.js"></script>

