<section class="jumbotron text-center">
    <div class="container">
        <h1>Contact Us</h1>
        <h4>Interested in becoming an Admin?</h4>
        <p class="lead text-muted">We encourage collectible group admins to reach out to us and become part of the admin team. Collectible admins can easily manage the collectibles database by adding, editing, and deleting collectibles of their admin type on our website.  We believe our website can enhance collecting and trading for your group members.</p>
    </div>
</section>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 mx-auto mb-4">
            <div class="card shadow">
                <div class="card-header">
                    <h4>Apply</h4>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="lead text-muted">Are you a collectible group admin of a collectible type not on our website and want to become an admin on Collector’s Trading Platform? Please send an email to <a href="mailto:collectorstradingplatform@gmail.com">collectorstradingplatform@gmail.com</a> with the following information to apply. We are only looking for admins of collectible groups at this time to ensure the quality of our database.  If approved, you will receive a special code to use during registration to become an admin of a collectible type.</p>
                    </blockquote>
                    <ul>
                        <li>Your name</li>
                        <li>Email address</li>
                        <li>Collectible type you would like to be an admin of</li>
                        <li>Collectible type attributes (i.e. year released, series)</li>
                        <li>Collectible group website link</li>
                        <li>Number of members in your collectible group</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>