{{#if message}}
    <div class="alert {{messageClass}}" role="alert">
        {{message}}
    </div>
{{/if}}

<h1>edit collectible name</h1>
<form id="editcollectiblename" action="/editcollectiblename" enctype="multipart/form-data" method="POST">
    <div class="form-example">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" required>
    </div>

    <div class="form-example">
        <label for="collectible_id">collectible id: </label>
        <input type="text" name="collectible_id" id="collectible_id" required>
    </div>
        <input type="submit" value="Submit" name="submit">
    </div>
</form>