{{!-- Source: https://www.solodev.com/blog/web-design/designing-an-effective-forgot-password-page.stml --}}

<h1> Forgot Password </h1>
<form action="" method="get" class="form-example">
    <div class="form-example">
        <label for="name">Enter your email: </label>
        <input type="text" name="email" id="email" required>
    </div>
    <div class="box-body">
        <div class="row">
            <label>Old Password</label>
        </div>
        <div class="input-group">
            <input class="form-control" id="oldPassword" name="oldPassword" value="" placeholder="Enter the Old Password" type="password">
        </div>
    </div>
    <br/>
    <div class="row">
        <label>New Password</label>
    </div>
    <div class="input-group">
        <input class="form-control" id="newPassword" name="newPassword" value="" placeholder="Enter the New Password" type="password">
    </div>
    <br/>
    <div class="row">
            <label>Confirm Password</label>
    </div>
    <div class="form-example">
        <input type="submit" onClick=ResetPw() value="Reset my password">
    </div>
    <script>
        function resetPassword() {
            const oldPassword = document.getElementById('oldPassword').value;
            const newPassword = document.getElementById('newPassword').value;
            const confirmPassword = document.getElementById('confirmPassword').value;
            if (oldPassword === "" || newPassword === "" || confirmPassword === "") {
                alert('Fill in all details to reset password');
            }
            else if (oldPassword === newPassword) {
                alert("Old password must be different from new password");
            }
            else if (newPassword !== confirmPassword) {
                alert("Passwords do not match");
            }
        }
    </script>
</form>