{{!-- https://www.solodev.com/blog/web-design/designing-an-effective-forgot-password-page.stml --}}

<h1> Forgot Password </h1>

<form action="" method="get" class="form-example">
   <div class="form-example">
    <label for="name">Enter your email: </label>
    <input type="text" name="email" id="email" required>
  </div>
<div class="box-body">
        <div class="row">
            <label>Old Password</label>
        </div>
            <div class="input-group">
                <input class="form-control" id="oldPassword" name="oldPassword" value="" placeholder="Enter the Old Password" type="password">
            </div>
        </div>
        <br/>
        <div class="row">
            <label>New Password</label>
        </div>
            <div class="input-group">
                <input class="form-control" id="newPassword" name="newPassword" value="" placeholder="Enter the New Password" type="password">
            </div>
        </div>
        <br/>
        <div class="row">
                <label>Confirm Password</label>
            </div>
        </div>
    <div class="form-example">
    <input type="submit" onClick=ResetPw() value="Reset my password">
    </div>
      <script>
          {{!-- https://stackoverflow.com/questions/33493267/reset-password-using-html-and-javascript --}}
    function ResetPw() {
        var oldpasswprd = document.getElementById('oldPassword').value;
        var newpassword = document.getElementById('newPassword').value;
        var confirmpassword = document.getElementById('confirmPassword').value;
        if (oldPassword == "" || newpassword == "" || confirmpassword == "") { //if blank values
            alert('Fill in all details to reset password');
        } //base case
        else if (oldpasswprd == newpassword) {
            alert("Old password must be different from new password"); //if same pw
        }
        else if (newpassword != confirmpassword) { //confirmation password
            alert("Passwords do not match");
        }
    }
</script>
  </div>