<div class="row justify-content-md-center mt-2">
    <div class="col col-md-6">
        <h2>Welcome to Collector's Trading Platform!</h2>
        <img src="/img/lego.jpg" alt="lego image">
    </div>
</div>