<div class="row justify-content-md-center mt-2">
    <div class="col col-md-4">
        <h2>Login</h2>
        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}
        <form class = "form">
            <div class="form-group">
                <label for="email">Email address</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="email">Password</label>
                <input name="password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <hr/>
        <p class="text-muted">Not registered? Register <a href="/register">here</a>.</p>
    </div>
<<<<<<< HEAD
<<<<<<< HEAD
{{/if}}
<form action="/login" method="POST" class="form-example">
    <div class="form-example">
        <label for="email">Enter your email: </label>
        <input type="email" name="email" id="email" required>
    </div>
    <div class="form-example">
        <label for="password">Enter your password: </label>
        <input type="password" name="password" id="password" required>
    </div>
    <div class="form-example">
        <input type="submit" value="Submit" name="submit">
    </div>
</form>
=======
</div>
>>>>>>> 6217e6f2eb353db1a9b6b3c1e4637fa094bd95da
=======
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/shared.js"></script>
    <script src="/js/login.js"></script>
>>>>>>> c4c986b807d629b0316b055eaf6673db29fa9e13
