{{{title}}}
<h1> Logout of your account </h1>

<form action="/auth/logout" method="POST" class="form-example">
  <div class="form-example">
    <input type="submit" value="Logout" name="Logout">
  </div>
</form>
<script src="/auth/index.js"></script>