{{{title}}}
<header>
<form action="/profile" method="GET" class="form-example">
 {{#if email}}
  <h1>Welcome {{email}} '</h1>
  {{else}}
    <p>Please <a href='/login'>Log In</a></p>
    {{/if}}
</form>
 </header>
