<!-- Source: https://github.com/briancodex/quiz-app-js -->
<!-- Source: https://stackoverflow.com/questions/14096292/how-to-have-two-headings-on-the-same-line-in-html -->

<div class="container">
    <div id="end" class="flex-center flex-column">
        <h4 class="score-result">
            <span class="left-text">Your Score: </span>
            <span class="right-text" id="finalScore">0</span>
        </h4>
        <p id="resultPassFail">pass or fail message here</p>
        <p id="takeQuizAgain">Click <a href="/quiz">here</a> to take quiz again or <a href="/rules">here</a> to review the rules.</p>
    </div>
</div>
<script src="/js/quizresult.js"></script>
<link rel="stylesheet" href="/css/quizresult.css"/>