{{{title}}}

<h1> Register for an account </h1>
<form action="" method="get" class="form-example">
    <div class="form-example">
    <label for="uname"> username: </label>
    <input type="text" name="uname" id="uname" required>
  </div>
    <div class="form-example">
    <label for="pw"> password: </label>
    <input type="text" name="pw" id="pw" required>
  </div>
    <div class="form-example">
    <label for="fname"> Full name: </label>
    <input type="text" name="fname" id="fname" required>
  </div>
  <div class="form-example">
    <label for="email"> email: </label>
    <input type="email" name="email" id="email" required>
  </div>
      <div class="form-example">
    <label for="address"> address: </label>
    <input type="text" name="address" id="address" required>
  </div>
    <div class="form-example">
    <label for="city"> city: </label>
    <input type="text" name="city" id="city" required>
  </div>
    <div class="form-example">
    <label for="state"> state: </label>
    <input type="text" name="state" id="state" required>
  </div>
      <div class="form-example">
    <label for="Zipcode"> Zipcode: </label>
    <input type="text" name="Zipcode" id="Zipcode" required>
  </div>   
  <div class="form-example">
    <label for="country"> country: </label>
    <input type="text" name="country" id="country" required>
  </div>
    <div class="form-example">
    <label for="Accounttype"> Accounttype: </label>
    <input type="checkbox" name="Accounttype" id="Accounttype" required>
  </div>
      <div class="form-example">
    <label for="PhoneNumber"> PhoneNumber: </label>
    <input type="PhoneNumber" name="PhoneNumber" id="PhoneNumber">
  </div>
        <div class="form-example">
    <label for="facebookurl"> facebookurl: </label>
    <input type="facebookurl" name="facebookurl" id="facebookurl">
  </div>
        <div class="form-example">
    <label for="paypal_link"> paypal_link: </label>
    <input type="text" name="paypal_link" id="paypal_link">
  </div>
  <p>Choose your user account type. *Note, admin accounts require approval from webmaster before creation:</p>
<div>
  <input type="checkbox" id="user" name="user"
         checked>
  <label for="user">user</label>
</div>
<div>
  <input type="checkbox" id="admin" name="admin">
  <label for="admin">admin</label>
</div>
  <div class="form-example">
    <input type="checkbox" name="Are you a robot?" id="CAPTCHA?" required>>
  </div>
</form>
