  
<div class="row justify-content-md-center mt-2">
    <div class="col col-md-4">
        <h2>Register</h2>
        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                    {{message}}
            </div>
        {{/if}}
        <form id="register_collector" action="/auth/register" method="POST">
        <p>Choose your user account type. *Note, admin accounts require approval from webmaster before creation:</p>
            <div class="form-example">
               <div class="show">
                <label class="admin123" for="is_admin">Admin Status</label>
                <select class="admin123" id="is_admin" name="is_admin">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                </select>
                </div>
                <table style="width:50%">
                <tr>
                    <th>Value</th>
                    <th>Admin Status</th>
                </tr>
                <tr>
                    <td>0</td>
                    <td>Not admin</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Lego</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Funko</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Pusheen</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Pokemon</td>
                </tr>    
                <tr>
                    <td>5</td>
                    <td>Hot Wheels</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>All</td>
                </tr>
                </table>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control"  name="username" id="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control"  name="email" id="email" required>
            </div>    
            <div class="form-group">
                <label for="phone_number">Phone Number</label>
                <input type="phone_number" class="form-control"  name="phone_number" id="phone_number" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <small id="passwordHelp" class="form-text text-muted mb-1">Must contain at least: one uppercase letter, one lowercase letter, one number. Must be 8 or more characters in length.</small>
                <input type="password" id="password" class="form-control"  name="password" title="Passwords do not match" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onchange="form.password2.pattern = RegExp.escape(this.value);" required>
                <label for="password">Confirm Password</label>
                <input type="password"  id="password2" class="form-control" placeholder="Confirm Password" name="password2" title="Passwords do not match" required />
            </div>
            <script type="text/javascript">
//https://www.the-art-of-web.com/javascript/validate-password/
        // polyfill for RegExp.escape
        if(!RegExp.escape) {
            RegExp.escape = function(s) {
            return String(s).replace(/[\\^$*+?.()|[\]{}]/g, '\\$&');
            };
        }

        </script>
            <div>
                <input type="submit" class="btn btn-primary" value="Register" name="register">
            </div>
        </form>
        <hr/>
        <p class="text-muted">Already registered? Login <a href="/login">here</a>.</p>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/shared.js"></script>
<link rel="stylesheet" href="/css/register.css"/>
