<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <title>{{title}}</title>
    </head>

 
    <body>
      {{> header}}
        {{{title}}}


        <div class="container">
	        <ol class="breadcrumb">
	        	<li class="breadcrumb-item"><a href="/">home</a></li>
	        	<li class="breadcrumb-item"><a href="/collectible">collectible</a></li>
	        	<li class="breadcrumb-item"><a href="/rules">rules</a></li>
	        </ol>    
        </div>


        <script src="js/jquery-3.5.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

        
    </body>
</html>