<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <title>{{title}}</title>
    </head>

 
    <body>
      
        {{{title}}}


        <div class="container">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/customers">Customers</a></li>
		<li class="breadcrumb-item"><a href="/products">Products</a></li>
		<li class="breadcrumb-item"><a href="/workers">Workers</a></li>
		<li class="breadcrumb-item"><a href="/sections">Sections</a></li>
		<li class="breadcrumb-item"><a href="/locations">Locations</a></li>
		<li class="breadcrumb-item"><a href="/customersproducts">Customers Purchase History</a></li>
	</ol>
	
        <div class="container">
            <h1 class="display-4">Locations</h1>
            <p class="lead">Supermarket Tonkatsu Database</p>
        </div>
     
</div>
        <script src="js/jquery-3.5.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

        
    </body>
</html>