<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <title>{{title}}</title>
    </head>

 
    <body>
        <nav class="menu">
            <ul>
                {{#each navItems}}
                 <li><a href="{{navLink}}">{{navTitle}}</a></li>
                {{/each}}
             </ul>
        </nav>
       
        <script src="js/jquery-3.5.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/nav.js"></script>
        
    </body>
</html>