<div class="row justify-content-md-center mt-2">
    <div class="col col-md-6">
        <h2>Rules</h2>
        <p>
            In order to proceed and register an account, you must score 100% on the rules quiz. You can take it unlimited times.
            You must abide by the rules below.  Failure to abide by the rules may result in account termination.
        </p>
        <ol>
            <li>Be Kind. No offensive language or rudesness is tolerated or your account.</li>
            <li>Do not use this site to message users outside website links.</li>
            <li>Do not contact users about matters not regarding a trade.</li>
            <li>Do not share your phone number or any personal details.  The only details you should be sharing is your name and mailing address if a trade is agreed upon.</li>
            <li>If a trade is agreed upon, send your trade package within 3 business days.</li>
            <li>You must provide the party you are trading with a tracking number (USPS, FedEx, UPS).</li>
            <li>You must have a PayPal account before requesting to trade.  All trades must be backed by a PayPal transaction.  This means that you and the party you are trading with agree upon a price to send each other through Goods and Services option on PayPal.  This protects you and the other party in the case that the package is lost, or one party does not send their end of the trade, or sends the wrong item, a item not received case or item not as described case can be opened and PayPal may refund according to their rules.</li>
            <li>If you do not receive your trade within a reasonable time, look up the tracking number to see if there are any delays and confirm whether it has been received by the delivery service.  Both parties should be in contact regarding any issues.  If a user did not send a tracking number, let Collectors Trading Platform know.  The user who did not send a tracking number may have their account terminated.</li>
            <li>Collectors Trading Platform is not responsible for any monetary or property loss.  We set up this site to help collectors find trades.</li>
        </ol>
    </div>
</div>