img{
    max-height:400px;
    max-width:400px;
    height:auto;
    width:auto;
}

.fa-star {
    color: orange;
  }
  .fa-star-o {
    color: orange;
  }
  
  .fa-star-half-o {
    color: orange;
  }