 /*  overwrite bootstrap so can see many collectibles per row */
 .col-md-4 {
    flex: 100% !important;
    max-width: 100% !important;
  }

.heading {
  background-color: #5e9dad;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}