/*  overwrite bootstrap so table is left aligned */
 .justify-content-md-center {

    justify-content: left !important;

  }

  img{
    max-height:100px;
    max-width:100px;
    height:auto;
    width:auto;
}