.fa-check {
    color: rgb(62, 84, 133);
  }
  .fa-heart {
    color: rgb(62, 84, 133);
  }
  
  .fa-people-arrows {
    color: rgb(62, 84, 133);
  }

  .fa-star {
    color: orange;
  }
  .fa-star-o {
    color: orange;
  }
  
  .fa-star-half-o {
    color: orange;
  }

  .fa-paper-plane {
    color: rgb(62, 84, 133);
  }

 .fa-phone {
    color: rgb(62, 84, 133);
  }