.fa-check {
    color: gray;
  }
  .fa-heart {
    color: gray;
  }
  
  .fa-people-arrows {
    color: gray;
  }

  .fa-star {
    color: orange;
  }
  .fa-star-o {
    color: orange;
  }
  
  .fa-star-half-o {
    color: orange;
  }

  .fa-paper-plane {
    color: black;
  }

 .fa-phone {
    color: black;
  }