/* form {
    border: 2px solid;
}

span.forgot {
    float: right;
    padding-top: 12px;
} 

.invalid {
    color: red;
}

#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
} */