form {
    border: 2px solid;
  }
/* The "Forgot password" text */
span.forgot {
    float: right;
    padding-top: 12px;
<<<<<<< HEAD
  }  
=======
  }  

  /* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
  }

  /* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }  

  /* https://www.w3schools.com/howto/howto_js_password_validation.asp */
>>>>>>> 501c7f59138884cd197aa97b1857b1e0e813f159
