.float-left-child2 {
    float: left;
    width: 280px;
    margin-right: 20px;
  }
  
  input[type="radio"] {
    margin: 5px;
  }


  .float-left-child3 {
    float: left;
  }

  
.input-text{
    width: 50px;
} 

 /*  overwrite bootstrap */
  .col-md-4 {
    flex: 100% !important;
    max-width: 100% !important;
  }

.heading {
  background-color: #5e9dad;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-secondary {
margin-top:20px
}