

.float-left-child {
    float: left;
    margin: 10px;
    word-wrap: break-word;
    width: 300px;
    height: 300px;
 

  }


 /*  overwrite bootstrap so can see many collectibles per row */
  .col-md-4 {

    flex: 100% !important;
    max-width: 100% !important;
    
    
  }

.heading {

  background-color: #dfe3ec;
  text-align: center;

}