/* https://github.com/briancodex/quiz-app-js */

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: gray;
    font-size: 20px;
    min-width: 20rem;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
}



.choice-text {
    padding: 2rem;
    width: 100%;
}

.question-text {
    font-size: 2rem;
}

.correct {
    background: darkslateblue;
}

.incorrect {
    background: darkslateblue;
}



/* Heads up Display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}



@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}