.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: gray;
    font-size: 20px;
    min-width: 20rem;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: darkslateblue;
}

.incorrect {
    background: darkslateblue;
}

.question-text {
    font-size: 2rem;
}